@tailwind base;
@tailwind components;
@tailwind utilities;

.btnDescargar::before {
  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.btnDescargar:hover::before {
  transform: scaleX(1);
}
